<h2>Create New Compliances</h2>
<form action="/compliances/new" method="POST">
    <div>
        <label>Report Number</label>
        <input type="text" name="reportNumber" value="<%= compliance.report_number%>">
    </div>  
    
    <div>
        <label>Report Type</label>
        <input type="text" name="reportType" value="<%= compliance.record_type.type%>" >
        <label>Report Details</label>
        <input type="text" name="reportDetail" value="<%= compliance.record_type.record_detail%>" >
    </div>
    
    <div>
        <label>Issued Date</label>
        <input type="date" name="issuedDate" 
            value="<%= compliance.issued_date == null ? '' :
            compliance.issued_date.toISOString().split('T')[0] %>" >
    </div>
    
    <div>
        <label>Expiry Date</label>
        <input type="date" name="expiryDate" 
            value="<%= compliance.expiry_date== null ? '' :
            compliance.expiry_date.toISOString().split('T')[0] %>">
    </div>   

    <button type="submit">Create</button> 
    <a href="/compliances/new">Cancel</a>
</form>
