<h2>Search Compliances</h2>
<form action="/compliances" method="GET">
    <div>
        <label>Report Number</label>
        <input type="text" name="reportNumber" value="<%=searchOptions.reportNumber%>">
    </div>
    <div>
        <label>Issued Date</label>
        <input type="date" name="issuedDate" value="<%=searchOptions.issuedDate%>">
    </div>
    <div>
        <label>Expiry Date</label>
        <input type="date" name="expiryDate" value="<%=searchOptions.expiryDate %>">
    </div>

    <button type="submit">Search</button>
</form>

<% compliances.forEach(compliance => { %>
    <div><a>Report Number: </a><%= compliance.report_number  %> </div>
    <div><a>Report Type: </a><%= compliance.record_type.type  %> </div>
    <div><a>Report Details: </a><%= compliance.record_type.record_detail  %> </div>
    <div><a>Issued Date: </a><%= compliance.issued_date.toISOString().split('T')[0]  %> </div>
    <div><a>Expiry Date: </a><%= compliance.expiry_date.toISOString().split('T')[0]  %> </div>
    <br>
 <% }) %> 


